name: Package-Debian-Build

on:
  push:
#    tags:
#      - '*'

  # allow manually starting this workflow
  workflow_dispatch:

jobs:
  Debian:
    name: ${{ matrix.distro }}
    runs-on: ubuntu-latest
    container:
      image: ubuntu:${{ matrix.distro }}
      env:
        DEBIAN_FRONTEND: noninteractive
    strategy:
      fail-fast: false
      matrix:
        distro: [focal, jammy, noble]
    steps:
      - uses: actions/checkout@v4
        with:
          path: workspace/src/ros_industrial_cmake_boilerplate

      - name: Install dependencies
        working-directory: workspace
        run: |
          export DEBIAN_FRONTEND=noninteractive
          apt update -q
          apt install -q -y clang-tidy

      - name: Build
        uses: tesseract-robotics/colcon-action@v9
        with:
          ccache-enabled: false
          add-ros-ppa: false
          rosdep-enabled: false
          target-path: target_ws/src
          target-args: --cmake-args -DCMAKE_BUILD_TYPE=Release -DRICB_PACKAGE=ON
          run-tests: false

      - name: Create artifacts directory
        run: |
          mkdir -p $GITHUB_WORKSPACE/artifacts

      - name: Package
        working-directory: workspace/build/ros_industrial_cmake_boilerplate
        shell: bash
        run: |
          cpack --config CPackConfig.cmake
          cp ./*.deb $GITHUB_WORKSPACE/artifacts
          cp ./*.tar.xz $GITHUB_WORKSPACE/artifacts

      - uses: actions/upload-artifact@v4
        with:
          name: debian_package_${{ matrix.distro }}
          path: ${{ github.workspace }}/artifacts/*.deb

      - uses: actions/upload-artifact@v4
        with:
          name: archive_package_${{ matrix.distro }}
          path: ${{ github.workspace }}/artifacts/*.tar.xz
